body{
    margin: 0px;
    background-color: #000;
    color: #fff;
}
.fixed-bottom{
    position: fixed;
    bottom: 0;
}
.fixed-top{
    position: fixed;
    top: 0;
}
.flex{
    display: flex;
}
.flex-align-center{
    align-items: center;
}
.flex-justify-center{
    justify-content: center;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.onion-color{
    color: #d35400;
}
.not-onion-color{
    color: #2980b9;
}
.onion-bg-color{
    background-color: #d35400;
}
.not-onion-bg-color{
    background-color: #2980b9;
}
.unclickable{
    pointer-events: none;
}
.slide-right{
    animation: slide-right 500ms cubic-bezier(.68,-0.55,.27,1.55);
}
@keyframes slide-right{
    from{
        transform: translateX(-2000px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

#wrapper{
}

/* Header component CSS */
#header{
    display: grid;
    grid-template-areas: 'logo menu';
    margin: 0 auto;

    width: 100%;
    background-color: #000;
    z-index: 1;
}
#header #logo{
    height: 100px;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-left: 0px;
    margin: 0px;
}
#menu li{
    list-style: none;
    border-bottom: 5px solid transparent;
    transition: border-bottom 250ms;
}
#menu li.active{
    border-bottom: 5px solid #fff;
}
#menu li:hover{
    cursor: pointer;
    border-bottom: 5px solid #fff;
}

/* Content component CSS */
#content{
    margin-bottom: 100px;
}
#stage{
    max-width: 700px;
    text-align: center;
}
#stage #title a{
    color: inherit;
}
#stage img{
    width: 100%;
}
#vote{
    width: 100%;
    display: flex;
    box-shadow: 0 0 5px #000;
}
.vote-button{
    overflow: hidden;
    height: 100px;
    width: 50%;
    transition: width 500ms ease-in-out, height 500ms ease-in-out;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-weight: 700;
}
.vote-button:hover{
    cursor: pointer;
}
.vote-button#onion{
    background-color: #d35400;
}
.vote-button#not-onion{
    background-color: #2980b9;
}
.vote-button#onion:hover{
    background-color: #e67e22;
}
.vote-button#not-onion:hover{
    background-color: #3498db;
}

@media(max-width: 700px){
    #stage #title{
        padding: 0 5px;
    }
}
@media(max-width: 400px){
    #header #logo{
        height: 75px;
    }
    #title, #reveal{
        font-size: 24px;
    }
}